#genres{margin-left: 25vw;
}

.favorietefilms{margin-left: 15vw;
}

h1{ 
 text-align: center;  
}
h2{text-align: center;}
div{background-color:whitesmoke;
 padding:10px;
 margin:30px;
 width: 60vw;
 margin-left: 20vw;
}
body {
 margin: 0;
 padding: 0;
 background-color: wheat;
 color: black;
 font-family :"verdana";
 font-size; 30px;}
p {
 color: black;
 background-color: whitesmoke;
 text-align: center;
}
ul {
 background-color: whitesmoke;
}

ol {
 background-color: whitesmoke;}
img {
 margin-left: 25%;
 width:50%;
}
   
  a{
 color: black;
 text-decoration:none;
}

a:hover{
 text-decoration:underline;
}
a:visited{ 
 color: Black;
}
 